  <div class="topInfoPage">
        <div>
            <p>Date du jour :  {{ "now"|date("m/d/Y") }}</p>
        </div>
        <div>
            <p>Participant : {{ app.user.name }}</p>
        </div>
    </div>