body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;

}
#navA{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../img/backgrounds/bgl.jpg");
    height: 350px;
    background-size: cover;
}
.logoSitAe{
    border-radius: 100%;
    height: 210px;
    width:210px;
    margin: 2%;
}
.logoSite{
    border-radius: 100%;
    height: 200px;
    width:200px;
    margin: 2%;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}
.rowHeadAction{
    display: flex;
    flex-direction: row;
    align-items:center;
    color: white;
    justify-content: space-between;
    width: 150px;
}
.infoUserName{
    font-family: 'Neonderthaw', cursive;
    color:#3DD8FC;
    font-size: 35px;
    animation: flicker 1.5s infinite alternate;

}
.dateHead{
    font-family: 'Neonderthaw', cursive;
    color:#FD99EF;
    font-size: 20px;
}
.subNav{
    justify-content: flex-end;
    margin-top: 80%;
}

.actionHeader{
    color:white;
    font-family: 'Neonderthaw', cursive;
    text-decoration: none;
    font-size: 22px;
}
.actionHeader:focus{
    text-decoration: none;
}
.containerBtnSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 2%;
}
#ticketContainer{
    overflow: auto;
    width: 90%;
    height: 90%;
    border-radius: 8px;
}

.ticketHangout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 20%;
    margin: 2%;
    background-color: rgba(4, 75, 181, 0.8);
    border-radius: 12px;
}
.rowTicket{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.pTicket{
    color:#FD99EF;
    font-size: 14px;

}
.actionsContainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


body::-webkit-scrollbar {
    display: none;
}
div::-webkit-scrollbar {
    width: 4px;
}

div::-webkit-scrollbar-track {
    background: #93AED6; /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(78, 103, 166, 0.4); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border:none; /* creates padding around scroll thumb */
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainCreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(249, 169, 38, 0.4);
    border-radius: 8px;
}
/*

footer>.container {
    display: flex;
    margin: auto;
    color: #F8F8F8;
    justify-content: center;
    width: 50%;
}
*/

.toto {
    border-radius: 4px;
    border: solid 1px blue;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1{
    margin-bottom: 1%;
}

.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.formSubContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    width: 100%;
}
.rowInpt{
    display: flex;
    width: 100%;
    justify-content: center;
}
.miniPP{
    height: 36px;
    width: 36px;
    border-radius: 100%;
}
.actionsList{

    color: white;
}

.form-floating > input, .form-floating > select{
    background-color: #F9A926;
    border: none;
    text-align: center;
    margin-top: 18px;
    width: 300px;
    height: 55px;
    color : rgba(9,97,100);
    border-radius: 8px;
    color: white;
}
#hangout_form_hangoutInformations{
    height: 90px;
}
.form-floating>label{
    color : rgba(9,97,100,0.9);
    font-size: 13px ;
}
.btnContainer{
    margin: 10px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
}
#surCoucheBtn{
    background-color: #09617d;
    border:2px #F9A926 solid ;
    border-radius: 8px;
    align-self: center;
    color: #F9A926;
    width: 150px;

}
.btnAddPlace{
    border: none;
    background-color: transparent;
    color: white;
    height: 30px;
    width: 30px;
}
.detailCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.detailRow, .detailRowPlace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 500px;
}

#edit_profile_password, #edit_profile_confirm {
    right: -1.5rem;
    --bs-gutter-y: 0;
    margin: 0;
    padding: 0;
}

.hangoutDescripton{
    max-height: 50px;
    width: 50%;
    overflow: auto;
    align-self: flex-end;

}
.detailContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.usersTab{
    overflow: auto;
    height: 120px;
    width: 400px;
}

.usersTabCont{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 4% ;
    margin-top: 2%;
}

td,tr,table{
    border: none;
}

.txtTh{
    font-size: 19px;

}
#nameHang{
    font-size: 18px;
    border: none;
}
th,td{
    color: white;
}

.newHang{
    display: flex;
    text-decoration: none;
    border: #09617D 1px solid;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-end;
    margin: 1%;
}


.neonText {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}
h1 {
    font-size: 4.2rem;
    animation: flicker 1.5s infinite alternate;
}
.effetneon {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 42px rgb(230, 18, 124),
            0 0 77px rgb(230, 18, 124),
            0 0 100px rgb(230, 18, 124);
    animation: lumiere 1s infinite linear;
}
@keyframes lumiere {
    0%{
        text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 42px rgb(230, 18, 124),
                0 0 77px rgb(230, 18, 124),
                0 0 100px rgb(230, 18, 124);
    }
    50%{
        text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 32px rgb(230, 18, 124),
                0 0 87px rgb(230, 18, 124),
                0 0 120px rgb(230, 18, 124);
    }
}
.containerFormFilter{
    width: 100%;
}
.headFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: -70px;
    background-color: rgba(4, 75, 181, 0.8);
    color:white;
}
.secFilter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.headFilterCheck{
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 6px;
    padding: 10px;
    margin: 1%;
}
.headFilter>.rowInpt{
    justify-content: space-around;
    align-items: center;
    color: white;
}
.headFilterCheck>.rowInpt{
    justify-content: flex-start;
    align-content: center;
    font-size: 18px;
    width: 100%;
}
#filter_name::placeholder{
    color:#debcff;
}
.inptFilter{
    height: 35px;
    width: 300px;
    text-align: center;
    background-color: rgba(1, 107, 229, 0.6);
    border: none;
    border-radius: 8px;
    color: white;
}
.txtCheckFltr{
    margin-left: 10px;
}

.btnSerch{
    height:30px;
    width: 30px;
    border-radius: 100%;
    border: white 2px solid;
    background-color: transparent;
    color: white;
    text-align: center;
}

.hangoutCanceld{
    font-family: 'Neonderthaw', cursive;
    color: red;
}
