body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #F8F8F8;
}
main {
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainCreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(249, 169, 38, 0.4);
    border-radius: 8px;
}

/*
footer>.container {
    display: flex;
    margin: auto;
    color: #F8F8F8;
    justify-content: center;
    width: 50%;
}
*/

.toto {
    border-radius: 4px;
    border: solid 1px blue;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1{
    margin-bottom: 1%;
}
h1,h2{
    font-family: 'Allura', cursive;
    font-weight: bold;
    color: #09617D;
}
.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.formSubContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    width: 100%;
}
.rowInpt{
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-floating > input, .form-floating > select{
    background-color: #F9A926;
    border: none;
    text-align: center;
    margin-top: 18px;
    width: 300px;
    height: 55px;
    color : rgba(9,97,100);
    border-radius: 8px;
}
#hangout_form_hangoutInformations{
    height: 90px;
}
.form-floating>label{
    color : rgba(9,97,100,0.9);
    font-size: 13px ;
}
.btnContainer{
    margin: 10px;

    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     width: 70%;
    align-items: center;
}
#surCoucheBtn{
    background-color: #09617d;
    border:2px #F9A926 solid ;
    border-radius: 8px;
    align-self: center;
    color: #F9A926;
    width: 150px;

}
.btnAddPlace{
    border: none;
    background-color: transparent;
    color: #09617d;
    margin-left: 10px;
}
.detailCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.detailRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 500px;


}
.hangoutDescripton{
    max-height: 50px;
    width: 50%;
    overflow: auto;
    align-self: flex-end;

}
.detailContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.usersTab{
    overflow: auto;
    height: 120px;
    width: 400px;
}

.usersTabCont{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 4% ;
    margin-top: 2%;
}
.topInfoPage{
    align-self: flex-end;
    margin-right: 2%;
}
#tabScroll{
    overflow: auto;
    width: 100%;
    height: 400px;
    padding-left: 1%;
    padding-right: 1%;
}
th,td{
    border-left: black 1px solid;
}
.noBorder{
    border: none;
}
th{
    border-bottom: none;
}
.newHang{
    display: flex;
    text-decoration: none;
    border: #09617D 1px solid;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-start;
    margin: 1%;
}

a:hover{
    background-color: #09617D;
    color: white;
}


