.block-form, .block-formCancel {
    background-color: rgba(4, 75, 181, 0.8);
    border-radius: 10px;
    padding: 2%;
    width: 60%;
}

.newHangoutFormTableClass {
    background: none;
}

td {
    margin: 1%;
    padding: 1%;
    width: 300px;

}

.block-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2%

}
button {
    margin-right: 2%;
    margin-left: 2%;
}

div>button>a {
    color: white;
}

input, select {
    border-style: none ;
    border-radius: 10px;
    text-align: center;
}
.modal-body{
    background-color: rgba(4, 75, 181, 0.8);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}
.rowAddPlace{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;


}
.intptFormCreateHang{
    height: 40px;
    width: 200px;
    color:rgba(4, 75, 181, 0.8)
}

