{% extends 'base.html.twig' %}

{% block title %}Manage Campus{% endblock %}

{% block main %}

    <h1 class="container text-center">Gérer les campus</h1>
    <h2 class="text-left">Filtrer les sites</h2>
    <p class="text-left">Le nom contient :</p>
    <input type="text" name="search" placeholder="HER">
    <button type="submit">Rechercher</button>

{% endblock %}