{% extends 'base.html.twig' %}

{% block title %}Manage Campus{% endblock %}

{% block main %}

    <h1 class="container text-center">Gérer les campus</h1>
    <h2 class="text-left">Filtrer les sites</h2>
    <p class="text-left">Le nom contient :</p>
    <input type="text" name="search" placeholder="HER">
    <button type="submit">Rechercher</button>

    <tr>
        <th id="campusName" scope="row" class="noBorder effetneon">Campus</th>
        <th id="actions" scope="row" class="noBorder effetneon">Actions</th>
    </tr><br>
    {% for camp in campus %}
        <tr>
            <td>{{ camp.name }}</td>
        </tr>
        <tr>
            <td></td>
        </tr><br>
    {% endfor %}
{% endblock %}