#modalMoreSearch{
    background-color: rgba(1, 107, 229, 0.2);
}
#modal-content{
    color:white;
    background-color: rgba(4, 75, 181, 0.7);
}
.labelModal{
    color: #044BB5B2;
    font-size: 22px;
    font-weight: bold;
}
.rowInptFilterS{
    display: flex;
    flex-direction: row;
}

