<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Hangoutcom{% endblock %}</title>
    {% block head %}
    {% include("fragments/head.html.twig") %}
    {% endblock %}
</head>
<body>
    <header>
        {% include("nav/nav.html.twig") %}
    </header>

<main>
    <div class="text-center">
            {% for  message in app.flashes('fail') %}
                <div id="msgFlash" class="flash-fail">
                     {{ message }}
                 </div>
            {% endfor %}
    </div>
    {% block main %}{% endblock %}
</main>

<footer>
    {% block footer %}{% endblock %}
</footer>
</body>
</html>
