<nav id="navA">
    {% if app.user %}
        {% include('fragments/headerInfo.html.twig')%}
    {% endif %}
    <a class="logoSitAe " href="{{ path("app_home") }}" title="Home">
        <img src="{{ asset('img/img.png') }}" class="logoSite wiggle" alt="logo du site Hangout.com" >
    </a>

    {% if not app.user  %}
        <a class="nav-link active" href="{{ path("app_login") }}" title="Login">Login</a>
    {% endif %}
</nav>



