<nav>
    <ul>
        <li><a href="{{ path("app_home") }}" title="Home">Home</a></li>
        {% if app.user %}
            <li><a href="{{ path("app_logout") }}" title="Home">Logout</a></li>
        {% else %}
            <li><a href="{{ path("app_login") }}" title="Login">Login</a></li>
        {% endif %}
    </ul>
</nav>